

@font-face {
	font-family: 'InfoOTDisp';
    src: url('../webfonts/GEFAKO_CI_Fonts/InfoOTDisp-Bold/InfoOTDisp-Bold.woff') format('woff'),
         url('../webfonts/GEFAKO_CI_Fonts/InfoOTDisp-Bold/InfoOTDisp-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
	font-family: 'InfoOTDisp';
    src: url('../webfonts/GEFAKO_CI_Fonts/InfoOTDisp-Regular/InfoOTDisp-Regular.woff') format('woff'),
         url('../webfonts/GEFAKO_CI_Fonts/InfoOTDisp-Regular/InfoOTDisp-Regular.ttf') format('truetype');
    font-weight: normal;
}

